<template id="main-application" data-component>
  <slot></slot>    
</template>

<template id="welcome-message" data-component>
  <h1>Welcome!</h1>
</template>

<template id="enable-push-notifications" data-component>
  <push-notifications action="request">
    <%= button_tag 'Enable Push Notifications' %>
  </push-notifications>
</template>

<main-application>
  <welcome-message></welcome-message>
  <enable-push-notifications></enable-push-notifications>
</main-application>