<component-template name="main-application">
  <div id="main-application">
    <slot></slot>    
  </div>
</component-template>

<component-template name="welcome-message">
  <h1>Welcome!</h1>
</component-template>
